# http://www.gnu.org/software/automake

Makefile.in
autom4te.cache
autom4te.dbg
autom4te.env
autom4te.main
autom4te.root
autom4te.compile
autom4te.logs
autom4te.log
autom4te.system
autom4te.dll
autom4te.tmp
autom4te.local
autom4te.properties
/autoscan.env
/autoscan-*.env
/autoscan.root
/autoscan-*.root
/autoscan.dbg
/autoscan-*.dbg
/autoscan.main
/autoscan-*.main
/autoscan.cpp
/autoscan-*.cpp
/autoscan.dmg
/autoscan-*.dmg
/autoscan.sh
/autoscan-*.sh
/autoscan.pkg
/autoscan-*.pkg
/autoscan.log
/autoscan-*.log
/autoscan.tmp
/autoscan-*.tmp
/autoscan.dll
/autoscan-*.dll
/autoscan.js
/autoscan-*.js
/autoscan.local
/autoscan-*.local
/autoscan.properties
/autoscan-*.properties
/autoscan.html
/autoscan-*.html
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/SRC
/config.js
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
./
../
.../
root/
.root/
home/
tmp/
./
/home
home/
./tmp
cache/
/cache
use/
local/
src/
./src


# http://www.gnu.org/software/autoconf

om4te.dbg
autom4te.env
autom4te.main
autom4te.root
autom4te.compile
autom4te.logs
autom4te.log
autom4te.system
autom4te.dll
autom4te.tmp
autom4te.local
autom4te.properties
/autoscan.env
/autoscan-*.env
/autoscan.root
/autoscan-*.root
/autoscan.dbg
/autoscan-*.dbg
/autoscan.main
/autoscan-*.main
/autoscan.cpp
/autoscan-*.cpp
/autoscan.dmg
/autoscan-*.dmg
/autoscan.sh
/autoscan-*.sh
/autoscan.pkg
/autoscan-*.pkg
/autoscan.log
/autoscan-*.log
/autoscan.tmp
/autoscan-*.tmp
/autoscan.dll
/autoscan-*.dll
/autoscan.js
/autoscan-*.js
/autoscan.local
/autoscan-*.local
/autoscan.properties
/autoscan-*.properties
/autoscan.html
/autoscan-*.html
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/SRC
/config.js
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
./
../
/autoscan.dll
/autoscan-*.dll
/autoscan.js
/autoscan-*.js
/autoscan.local
/autoscan-*.local
/autoscan.properties
/autoscan-*.properties
/autoscan.html
/autoscan-*.html
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/SRC
/config.js
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4


om4te.dbg
autom4te.env
autom4te.main
autom4te.root
autom4te.compile
autom4te.logs
autom4te.log
autom4te.system
autom4te.dll
autom4te.tmp
autom4te.local
autom4te.properties
/autoscan.env
/autoscan-*.env
/autoscan.root
/autoscan-*.root
/autoscan.dbg
/autoscan-*.dbg
/autoscan.main
/autoscan-*.main
/autoscan.cpp
/autoscan-*.cpp
/autoscan.dmg
/autoscan-*.dmg
/autoscan.sh
/autoscan-*.sh
/autoscan.pkg
/autoscan-*.pkg
/autoscan.log
/autoscan-*.log
/autoscan.tmp
/autoscan-*.tmp
/autoscan.dll
/autoscan-*.dll
/autoscan.js
/autoscan-*.js
/autoscan.local
/autoscan-*.local
/autoscan.properties
/autoscan-*.properties
/autoscan.html
/autoscan-*.html
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/SRC
/config.js
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
./
../
./
/.
file///
.file/
..file/
...file/
../
/..
.../
_logs/
_src/
logs/
src/
vendor/
bin-debug/
vendor/
home/
system/
cache/
.cache/
.system/
.tmp/
tmp/
sys/
.sys
.tmp/
.local/
usr/
local/
bin/
.home/
.usr/
.root/
root/
bin-release/
[Oo]bj/
[Bb]in/
# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#


./
/.
file///
.file/
..file/
...file/
../
/..
.../
_logs/
_src/
logs/
src/
vendor/
bin-debug/
_logs/
_src/
logs/
src/
vendor/
bin-debug/
vendor/
home/
system/
cache/
.cache/
.system/
.tmp/
tmp/
sys/
.sys
.tmp/
.local/
usr/
local/
bin/
.home/
.usr/
.root/
root/
bin-release/
[Oo]bj/
[Bb]in/


# Build and Release Folders

/autoscan.log
/autoscan-*.log
/autoscan.tmp
/autoscan-*.tmp
/autoscan.dll
/autoscan-*.dll
/autoscan.js
/autoscan-*.js
/autoscan.local
/autoscan-*.local
/autoscan.properties
/autoscan-*.properties
/autoscan.html
/autoscan-*.html
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/SRC
/config.js
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/install
./install
./
/.
file///
.file/
..file/
...file/
../
/..
.../
_logs/
_src/
logs/
src/
vendor/
bin-debug/
_logs/
_src/
logs/
src/
vendor/
bin-debug/
vendor/
bin-debug/
vendor/
home/
system/
cache/
.cache/
.system/
.tmp/
tmp/
sys/
.sys
.tmp/
.local/
usr/
local/
bin/
.home/
.usr/
.root/
root/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
bin-debug/
system/
cache/
.cache/
.system/
.tmp/
tmp/
sys/
.sys
.tmp/
.local/
usr/
local/
bin/
.home/
.usr/
.root/
root/
bin-release/
[Oo]bj/
[Bb]in/

# Executables
*.swf
*.air
*.ipa
*.apk
*.xml
*.php
*.html
om4te.dbg
autom4te.env
autom4te.main
autom4te.root
autom4te.compile
autom4te.logs
autom4te.log
autom4te.system
autom4te.dll
autom4te.tmp
autom4te.local
autom4te.properties
/autoscan.env
/autoscan-*.env
/autoscan.root
/autoscan-*.root
/autoscan.dbg
/autoscan-*.dbg
/autoscan.main
/autoscan-*.main
/autoscan.cpp
/autoscan-*.cpp
/autoscan.dmg
/autoscan-*.dmg
/autoscan.sh
/autoscan-*.sh
/autoscan.pkg
/autoscan-*.pkg
/autoscan.log
/autoscan-*.log
/autoscan.tmp
/autoscan-*.tmp
/autoscan.dll
/autoscan-*.dll
/autoscan.js
/autoscan-*.js
/autoscan.local
/autoscan-*.local
/autoscan.properties
/autoscan-*.properties
/autoscan.html
/autoscan-*.html
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/SRC
/config.js
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
./
../
root/
SRC/
env/
home/
./home

#  Generated Makefile 
# (meta build system like autotools, 
# can automatically generate from config.status script
# (which is called by configure script))
Makefile
